.div_menu {
	background-color: black;
	margin-bottom: 10px;
}
.menu {
	color: white;
}
.slider-div{
	margin-left: 55px;
}
img {
	width: 48%;
	height: 250px;
}

p {
	text-align: justify;
}
footer {
	background-color: black;
	text-align: center;
	color: white;
}